doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		title FooGame
		link(href="css/style.css" rel="stylesheet")
	body
		canvas#canvas
		
		script(src="http://code.createjs.com/easeljs-0.5.0.min.js")
		script(src="scripts/code.js")
